

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  color: #51748e;
  text-decoration: none; }
  a:visited {
    color: #51748e; }
  a:hover, a:focus, a:active {
    color: rgba(81, 116, 142, 0.8); }
  a:hover, a:active, a:focus {
    outline: 0; }

/*--------------------------------------------------------------
# Pointers
--------------------------------------------------------------*/
.wp-pointer-content {
  border-top: none; }
  .wp-pointer-content h3 {
    font-family: sans-serif; }
  .wp-pointer-content p {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.4; }
  .wp-pointer-content a.close,
  .wp-pointer-content a.close:visited {
    color: #0073aa;
    line-height: 1.5;
    font-family: sans-serif;
    font-weight: 400; }
    .wp-pointer-content a.close:hover, .wp-pointer-content a.close:active, .wp-pointer-content a.close:focus,
    .wp-pointer-content a.close:visited:hover,
    .wp-pointer-content a.close:visited:active,
    .wp-pointer-content a.close:visited:focus {
      color: #00a0d2; }

/*--------------------------------------------------------------
# Menus
--------------------------------------------------------------*/
.main-navigation-container {
  clear: both; }
  @media only screen and (max-width: $xxl) {
    .main-navigation-container {
      content: "";
      display: table;
      table-layout: fixed;
      width: 100%;
      position: relative; } }
  @media only screen and (min-width: $xxl) {
    .main-navigation-container {
      clear: none;
      float: right; } }

.main-navigation {
  font-size: 1rem;
  font-weight: 500;
  display: none; }
  .main-navigation.open { display: block; }

  .main-navigation:not(.open) ul.menu > li.current_page_item > a,
  .main-navigation:not(.open) ul.menu > li.current-menu-item > a,
  .main-navigation:not(.open) ul.menu > li.current_page_ancestor > a,
  .main-navigation:not(.open) ul.menu > li.current_page_parent > a,
  .main-navigation:not(.open) ul.menu > li.current-menu-ancestor > a {
    border-color: white; }
  @media only screen and (max-width: $xxl) {
    .main-navigation {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 9999; } }
  @media only screen and (min-width: $xxl) {
    .main-navigation {
      display: block; } }
  @media only screen and (min-width: $xxl) {
    .main-navigation .menu-main-menu-container {
      width: auto;
      text-align: center; } }
  .main-navigation .expand {
    font-size: 1.8rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 19px 0;
    width: 50px;
    line-height: 1;
    text-align: center;
    border-bottom: none;
    border-left: 2px solid rgba(0, 0, 0, 0.05);
    text-indent: 0; }
    .main-navigation .expand:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    .main-navigation .expand:before {
      content: "+"; }
    @media only screen and (min-width: $xxl) {
      .main-navigation .expand {
        display: none; } }
  .main-navigation .menu-item-has-children {
    position: relative; }
    .main-navigation .menu-item-has-children.open > .expand:before {
      content: "-"; }
  @media only screen and (max-width: $xxl) {
    .main-navigation li li {
      text-indent: 1rem; }
    .main-navigation li li li {
      text-indent: 1.5rem; }
    .main-navigation .open > .sub-menu {
      display: block; } }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px; }
    .main-navigation ul.menu > li > a {
      // border-bottom: 3px solid transparent;
    }
    .main-navigation:not(.open) ul.menu > li > a:hover {
      border-color: rgba($white,0.5) !important; }
    .main-navigation ul.menu > li.current_page_item > a,
    .main-navigation ul.menu > li.current-menu-item > a,
    .main-navigation ul.menu > li.current_page_ancestor > a,
    .main-navigation ul.menu > li.current_page_parent > a,
    .main-navigation ul.menu > li.current-menu-ancestor > a {
      font-weight: 600; }
    .main-navigation ul a {
      color: white;
      display: block;
      padding: 15px 0;
      border-top: 1px solid rgba($white,0.2); }
      .main-navigation ul li:first-child a { border-top: 0; }
      @media only screen and (min-width: $xxl) {
        .main-navigation ul a {
          padding: 1.8em 10px;
          border-top: none; } }
    .main-navigation ul ul {
      z-index: 99999;
      display: none; }
      @media only screen and (min-width: $xxl) {
        .main-navigation ul ul a {
          padding: 1em .75em;
          text-align: left; } }
      @media only screen and (min-width: $xxl) {
        .main-navigation ul ul {
          display: block;
          position: absolute;
          left: -999em; }
          .main-navigation ul ul ul {
            left: -999em;
            top: 0; }
          .main-navigation ul ul li:hover > ul,
          .main-navigation ul ul li.focus > ul {
            left: 100%; }
          .main-navigation ul ul a {
            width: 200px; } }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  @media only screen and (min-width: $xxl) {
    .main-navigation li {
      position: relative;
      display: inline-block; }
    .main-navigation a {
      text-decoration: none;
      padding: .25em .75em;
      color: #fff; }
    .main-navigation a:hover { color: #fff !important; }
  }
  .main-navigation .sub-menu .menu-item-has-children > a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: 10px;
    top: 50%;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid #fff;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none; }
    @media only screen and (min-width: $xxl) {
      .main-navigation .sub-menu .menu-item-has-children > a::after {
        display: inline; } }

body.no-max-width .main-navigation {
  max-width: none; }

.menu-toggle {
  display: inline-block;
  margin: 0 auto;
  width: 45px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  right: 20px;
  top: 25px; }
  @media only screen and (min-width: $xxl) {
    .menu-toggle {
      display: none; } }
  .menu-toggle div {
    background-color: #fff;
    height: 0.25rem;
    margin: 0.43rem;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center; }
  .menu-toggle.open div:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .menu-toggle.open div:nth-child(2) {
    width: 0%;
    opacity: 0; }
  .menu-toggle.open div:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.navigation.pagination {
  clear: both;
  margin: 0 0 1.5em; }
  .navigation.pagination .nav-links {
    text-align: center; }
    .navigation.pagination .nav-links .page-numbers {
      display: inline-block;
      border: none;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      line-height: 1;
      margin: 0 0.25em;
      padding: 0.5em 0.75em;
      white-space: nowrap; }
      .navigation.pagination .nav-links .page-numbers.dots {
        background: none; }
      .navigation.pagination .nav-links .page-numbers.current {
        color: #ffffff;
        background-color: #51748e; }
  .navigation.pagination .paging-nav-text {
    display: none; }
  @media only screen and (max-width: $xxl) {
    .navigation.pagination .paging-nav-text {
      display: inline-block;
      float: left;
      font-size: 0.9rem;
      font-weight: normal;
      color: #222222; }
    .navigation.pagination .nav-links {
      float: right; }
      .navigation.pagination .nav-links .page-numbers:not(.prev):not(.next) {
        display: none; } }

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }
