/**
# Custom styling over Velux theme
--------------------------------------------------------------*/


/*  Redirect banner
-------------------------*/
.core-redirect {
  background-color: $grey-darker;
  color: $white;
  padding: 8px 0;
  & a.button,
  & a.button:visited,
  & a.button:visited {
    margin-left: 8px;
    padding: 8px 16px;
  }
}


/*  Banner
-------------------------*/

.page-banner {
  background-color: transparent;
  position: relative;
  /* Banner accent */
  &:after {
    @include bp($xxl){
      content: "";
      position: absolute;
      bottom: 0;
      height: 10px;
      background-color: $orange;
      width: 16%;
      left: 50%;
      margin-left: -530px;
    }
  }
  &__inner {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
    @include bp($xxl){
      display: flex;
      flex-direction: row;
      vertical-align: middle;
    }
  }

  &__title,
  &__text {
    margin-left: 20px;
    margin-right: 20px;
    @include bp($xxl){
      display: flex;
      align-self: center;
    }
  }

  /* Banner title */
  &__title {
    @include bp($xxl){
      width: 50%;
      flex: 50%;
      float: left;
    }
    & h1 {
      font-weight: 600;
      font-size: 4rem;
      color: white;
      line-height: 1.1;
    }
  }
  /* Banner text */
  &__text {
    color: white;
    @include bp($xxl){
      width: 50%;
      flex: 50%;
    }
  }
  /* Banner image */
  &__image {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    @include bp($xxl){
      width: 60%;
    }
    /* Banner overlay */
    &:before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      right: 0; bottom: 0;
      background-color: rgba(192,223,255,0.15);
    }
  }
}

// RULES FOR HOME PAGE ONLY
.home {
  & .site-header {
    background-color: $white;
    & svg.site-logo .st0 { fill: $grey-darkest; }
    .menu-toggle div { background-color: $grey-darkest; }

    @media only screen and (min-width: $xxl) {
      .main-navigation a {
        color: $grey-darkest;
        &:hover { color: $black !important; }
      }
    }
  }
  & .page-banner {
    color: $grey-darkest;
    & .page-banner__title h1 {
      font-size: 4.4rem;
      font-weight: 700;
      color: $white;
    }
    & .page-banner__title br { display: none; }
    /* Banner accent */
    &:after { margin-left: -10%; }
    & .page-banner__image:before { background-color: rgba($black,0.3); }

    @media only screen and (min-width: $xxl) {
      & .page-banner__title h1 { color: $grey-darkest; }
      & .page-banner__title br { display: inline; }
      & .page-banner__image:before { background-color: rgba(192,223,255,0.15); }
    }
  }
}




/*  Page builder
-------------------------*/

.valign-middle .wp-block-kadence-column {
  vertical-align: middle;
  flex-direction: unset;
}
.valign-middle .wp-block-kadence-column .kt-inside-inner-col {
  align-self: center;
  flex: 1;
}

/* grey bg */
.wp-block-kadence-rowlayout.brand-module {
  font-size: 16px;
  text-align: center;
  @include bp($xxxl){
    text-align: left;
  }
}

.wp-block-kadence-rowlayout.brand-module .wp-block-image {
  margin: 0 !important;
}
.wp-block-kadence-rowlayout.brand-module .wp-block-image img {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: auto;
  @include bp($xxxl){
    max-width: 100%;
  }
}
.wp-block-kadence-rowlayout.brand-module .kt-row-column-wrap {
  background-color: #f2f2f2; padding: 0 !important;
  margin-bottom: 30px;
}
.wp-block-kadence-rowlayout.brand-module .inner-column-3 {
  padding: 0 30px 30px;
  @include bp($xxxl){ padding: 0 30px 0 0; }
}

.wp-block-kadence-rowlayout.brand-module .inner-column-2 {
  padding: 0 30px;
  @include bp($xxxl){
    padding: 0;
    border-right: 1px solid rgba(0,0,0,0.2);
  }
  & h3 { margin-bottom: 0; }
}




/* ==================================================
 # HELPER CLASSES
 ================================================== */

figure.wp-block-image { margin-left: auto; margin-right: auto; }
.wp-block-image img { display: block; }
.rounded { border-radius: 5px; overflow: hidden; }
.shadow { box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2); }


/* ==================================================
 # PAGES
 ================================================== */


/*  Home page
-------------------------*/

.stats .wp-block-kadence-column {
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 30px 0;
}
.stat {
  &__num {
    font-family: $serif;
    font-size: 3.6em;
    line-height: 1;
    font-weight: 600;
    margin-top: 0;
  }
  &__caption {
    font-family: $sans;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.2;
  }
}

.brands {
  background-color: $grey-lightest;
  border-radius: 5px;
  & .wp-block-image { margin-bottom: 0; }
}
.brand {
  &__meta {
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    & + & { margin-top: 0; }
    &:before {
      position: relative;
      top: 4px;
      font-family: 'genericons';
      font-size: 18px;
      padding-right: 2px;
    }
    &-date:before { content: '\f303'; }
  }
}



/*  Blog // Media Centre
-------------------------*/

.mc {
  &__archives {
    list-style: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    & li { padding: 0.25rem 0; }
  }
}


.blog, .archive,
.display-posts-listing {
  padding-left: 0;
  & .display-post {
    padding-bottom: 30px;
    border-bottom: 1px solid $grey-lightest;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    // &:first-child {
    //   border-top: 1px solid $grey-lightest;
    //   padding-top: 30px;
    //   margin-top: 2em;
    // }
  }
  & .entry-title {
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
  }
  & .entry-meta {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    & .posted-date:before { top: 5px; }
  }
  & .entry-summary {
    margin: 1em 0 0;
  }
  .hentry {
    border-bottom: 1px solid $grey-lightest;
    padding-bottom: 30px;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

// Article page

.single .entry-header {
  text-align: left;
  margin-top: 0;
  border-top: 0;
}



/*  About us
-------------------------*/

// People

.people {
  & img { border-radius: 50%; overflow: hidden; }
}

// Mapbox
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left { display: none; }

#locations {
  position: relative;
  width: 100%;
  overflow: hidden;
  .mapboxgl-canvas {
    margin: auto;
  }

  @media only screen and (min-width: 1280px) {
    width: 1280px;
    margin-left: -640px;
    left: 50%;
    .mapboxgl-canvas {
      width: 100% !important;
    }
  }
}

.investors {
  & img {
    transform: scale(1);
    transition: all 300ms ease-in-out;
    max-width: 120px;
    margin: auto;
    &:hover {
      transform: scale(1.05);
    }
  }
}


/* ==================================================
 # TIMELINE
 ================================================== */

.timeline {
  // margin-bottom: 60px;
  // year nav
  &__nav {
    display: flex;
    flex-direction: row;
    background-color: $grey-lightest;
    overflow: scroll;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 10px 20px;
      color: $grey-darker;
      font-weight: 700;
      &:hover,
      &:focus { color: $charcoal; }
      &.is-active {
        background-color: $charcoal;
        color: $white;
      }
    }
  }
  // slides
  &__slide {
    position: relative;
    display: none;
    &--active { display: block; }

    &-image {
      width: 100%;
      display: block;
      position: relative;
      background-color: $grey;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      &:before {
        content: "";
        display: block;
        padding-top: 56.25%;
      }
    }
    &-year {
      font-size: 48px;
      margin-bottom: 10px;
      color: $white;
      padding: 0 30px;
      @include bp($xxl){
        font-size: 72px;
        position: absolute;
        bottom: 100%; left: 0;
        z-index: 1;
        line-height: 0;
        text-shadow: 0 0 15px $charcoal;
      }
    }
    // main content area
    &-col {
      & + & { padding-top: 10px; }
      padding: 0 30px;
      @include bp($xxl){
        & + & { padding-top: 0; }
      }
    }
    &__content {
      background-color: $charcoal;
      color: $white;
      padding: 30px 0;
      @include bp($xxl){
        padding: 45px 0 30px;
        background-color: rgba($charcoal,0.9);
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
      }
    }
    &-title {
      font-size: 24px;
      color: $white;
    }
  }
}




