
/*--------------------------------------------------------------
>>> Gutenberg:
--------------------------------------------------------------*/
.wp-block-cover-image {
  margin-bottom: 1.5rem; }

[class^="wp-block-"].alignfull {
  width: 100.5vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }
  @media only screen and (max-width: 40.063em) {
    [class^="wp-block-"].alignfull {
      width: 100vw; } }
  [class^="wp-block-"].alignfull img {
    width: 100%; }

[class^="wp-block-"].alignwide {
  margin-left: -1.5%;
  margin-right: -1.5%;
  width: 102%; }
  @media only screen and (min-width: 40.063em) and (max-width: 61.063em) {
    [class^="wp-block-"].alignwide {
      margin-left: -1.25%;
      margin-right: -1.25%;
      width: 102.5%; } }

.wp-block-image.alignleft,
.wp-block-gallery.alignleft,
.wp-block-video.alignleft,
.wp-block-quote.alignleft,
.wp-block-text-columns.alignleft,
.entry-content ul.alignleft,
.entry-content ol.alignleft,
.wp-block-cover-text.alignleft {
  margin: 0 1em 0.5em 0; }

.wp-block-image.alignright,
.wp-block-gallery.alignright,
.wp-block-video.alignright,
.wp-block-quote.alignright,
.wp-block-text-columns.alignright,
.entry-content ul.alignright,
.entry-content ol.alignright,
.wp-block-cover-text.alignright {
  margin: 0 0 0.5em 1em; }

.wp-block-image.alignleft, .wp-block-image.alignright,
.wp-block-gallery.alignleft,
.wp-block-gallery.alignright,
.wp-block-video.alignleft,
.wp-block-video.alignright,
.wp-block-quote.alignleft,
.wp-block-quote.alignright,
.wp-block-text-columns.alignleft,
.wp-block-text-columns.alignright,
.entry-content ul.alignleft,
.entry-content ul.alignright,
.entry-content ol.alignleft,
.entry-content ol.alignright,
.wp-block-cover-text.alignleft,
.wp-block-cover-text.alignright {
  max-width: 40%;
  width: 100%; }
  .wp-block-image.alignleft img, .wp-block-image.alignright img,
  .wp-block-gallery.alignleft img,
  .wp-block-gallery.alignright img,
  .wp-block-video.alignleft img,
  .wp-block-video.alignright img,
  .wp-block-quote.alignleft img,
  .wp-block-quote.alignright img,
  .wp-block-text-columns.alignleft img,
  .wp-block-text-columns.alignright img,
  .entry-content ul.alignleft img,
  .entry-content ul.alignright img,
  .entry-content ol.alignleft img,
  .entry-content ol.alignright img,
  .wp-block-cover-text.alignleft img,
  .wp-block-cover-text.alignright img {
    width: inherit; }

.wp-block-gallery {
  margin-left: 0;
  margin-right: 0; }
  .wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: auto; }

.wp-block-quote p {
  margin-bottom: 0; }

.wp-block-pullquote {
  margin-top: 1em;
  margin-bottom: 1em; }

.wp-block-button.aligncenter {
  margin-bottom: 1.5em; }

.wp-block-audio audio {
  width: 100%; }

