
/*  Variables
-------------------------*/

$turqouise:           #008293;
$turqouise-lightest:  #A2F2FA;
$turqouise-lighter:   #50D7E5;
$turqouise-light:     #28B8C7;
$turqouise:           #099AAA;
$turqouise-dark:      #00818F;
$turqouise-darker:    #006A75;

$orange:          #ff791a;
$orange-lightest: #FFD2B2;
$orange-lighter:  #FFA666;
$orange-light:    #FF8126;
$orange-dark:     #E66000;
$orange-darker:   #CC5500;

$red: #D90032;
$green: #00A37A;

$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #313136;
$grey-darkest:   #1d1d23;
$black:          #000;
$charcoal:       #17171a;




$sans: 'Source Sans Pro', sans-serif;
$serif: 'Source Serif Pro', Georgia, serif;


// Mixins
$transition-time: .25s;
@mixin transition() { transition: all .25s cubic-bezier(.4,.08,.62,.94); }