
/*  Variables
-------------------------*/

$orange: #ff791a;
$turqouise: #008293;
$charcoal:   #17171a;

$red: #D90032;
$green: #00A37A;

$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #313136;
$grey-darkest:   #1d1d23;
$black:          #000;

$sans: 'Source Sans Pro', sans-serif;
$serif: 'Source Serif Pro', Georgia, serif;


// Mixins
$transition-time: .25s;
@mixin transition() { transition: all .25s cubic-bezier(.4,.08,.62,.94); }