

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5rem;
  padding: 0; }
  @media only screen and (min-width: 40.063em) and (max-width: 61.063em) {
    .widget {
      padding: 1.5rem; } }
  @media only screen and (max-width: 40.063em) {
    .widget {
      padding: 1rem; } }
  .widget input[type="text"],
  .widget input[type="email"],
  .widget input[type="url"],
  .widget input[type="password"],
  .widget input[type="search"],
  .widget input[type="number"],
  .widget input[type="tel"],
  .widget input[type="range"],
  .widget input[type="date"],
  .widget input[type="month"],
  .widget input[type="week"],
  .widget input[type="time"],
  .widget input[type="datetime"],
  .widget input[type="datetime-local"],
  .widget input[type="color"],
  .widget select,
  .widget textarea {
    width: 100%; }
  .widget ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .widget li {
    padding: 0.25rem 0; }
    .widget li ul {
      padding-left: 1.5rem; }

.widget_calendar #calendar_wrap #wp-calendar td#today {
  font-weight: bold; }

.widget_calendar #calendar_wrap #wp-calendar tfoot td#prev {
  text-align: left; }

.widget_calendar #calendar_wrap #wp-calendar tfoot td#next {
  text-align: right; }

.footer-widget .widget:last-child {
  margin-bottom: 0; }

.widget_search {
  padding: 0; }
  .widget_search .widget-title {
    padding: 2rem 2rem 0; }
    .widget_search .widget-title + .search-form {
      padding: 0 2rem 2rem; }
  .widget_search .search-field {
    width: 100%;
    background: #fff;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .widget_search .search-field:focus {
      background: #fff; }
    .widget_search .search-field::-webkit-search-cancel-button {
      z-index: 1; }
  .widget_search .search-submit {
    display: none; }